.custom-paragraph {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.38;
  color: #000;
  display: flex;

  &__title {
    margin: 80px;
    font-size: 2em;
  }

  &__content {
    margin-top: 30px;
  }
}